{:kotoba.app/id "cloud.itonami.isic-9700", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifsthbkrv4jdvts2pi7ft3o2a6n7b7m23ld5fqajk3ed5thphrrai", :kotoba.app/embed-url "ipfs://bafkreifsthbkrv4jdvts2pi7ft3o2a6n7b7m23ld5fqajk3ed5thphrrai", :published {:archive "https://kotobase.net/ipfs/bafkreifsthbkrv4jdvts2pi7ft3o2a6n7b7m23ld5fqajk3ed5thphrrai", :size 72539, :put-status 201, :get-status 200, :at "2026-08-15T13:37:15.113Z"}}
